  /* 1. ส่วนตั้งค่าสีหลัก (แก้สีตรงนี้ได้) */
        :root {
            --neon-green: #00e676;
            --neon-blue: #00b0ff;
            --neon-red: #ff3d00;
            --glass-bg: rgba(20, 20, 25, 0.6);
            --glass-border: rgba(255, 255, 255, 0.05);
        }

        /* 2. ส่วนพื้นหลังของเว็บ */
        body {
            margin: 0; padding: 40px 20px; box-sizing: border-box;
            font-family: 'Sarabun', sans-serif;
            color: #ffffff;
            background-color: #050505;
            background-image: url('https://img.freepik.com/free-vector/abstract-modern-background-paper-cut-background-vector-illustration_474888-6855.jpg?semt=ais_user_personalization&w=740&q=80'); 
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            min-height: 100vh;
            
        }
        
        @keyframes upDown {
            0% { transform: translateY(0px); text-shadow: 0px 0px 10px 100px rgba(0, 0, 0, 0.5); }
            50% { transform: translateY(-15px); text-shadow: 0px 0px 20px 150px rgba(0, 0, 0, 0.7); }
            100% { transform: translateY(0px); text-shadow: 0px 0px 10px 100px rgba(0, 0, 0, 0.5); }
        }
        @keyframes moveUp {
            0% { background-position: center 0; }
            50% { background-position: center -10px; }
            100% { background-position: center 0; }
        }
        
        /* 3. หน้า Login (เริ่มต้นโชว์ขึ้นมาก่อน) */
        #login-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0; left: 0;
            z-index: 50;
            backdrop-filter: blur(0px);
        }
        
        .login-box {
            display: flex; flex-direction: column; align-items: center; justify-content: center;
                    width: 85%; max-width: 350px; padding: 40px 20px; text-align: center;

        }

        input[type="password"] {
            width: 80%; padding: 8px; margin: 20px 0; border-radius: 30px;
            border: 1px solid rgba(255,255,255,0.2); background: rgba(0,0,0,0.5);
            color: #00b0ff; font-size: 1.5rem; letter-spacing: 3px; text-align: center; outline: none;
        }
        input[type="password"]:focus { border-color: #00b0ff; box-shadow: 0 0 10px rgba(0, 176, 255, 0.3); }

        .btn-login {
            background: #128571; color: white; border: none; padding: 12px 40px;
            font-size: 1.2rem; border-radius: 30px; cursor: pointer; font-weight: bold;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        }
        .btn-login:active { transform: scale(0.70);}

        .btn-visitor {
           background: #128571; color: white; border: none; padding: 12px 40px;
            font-size: 1.2rem; border-radius: 30px; cursor: pointer; font-weight: bold;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        }
        .btn-visitor:hover {
               background: rgba(56, 179, 179, 0.3);
            color: rgb(255, 255, 255);
            border-color: #00b0ff;
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
        }
        .btn-visitor:active { transform: scale(0.70);}

        #login-error { color: #ff3d00; margin-top: 15px; font-size: 0.95rem; min-height: 20px;}
        
        .btn-logout:hover {  
            color: rgb(177, 17, 17); 
            border-color: #ff3d00;
            box-shadow: 0 0 10px rgba(255, 61, 0, 0.3);
            }
        .btn-login:hover {
            background: rgba(56, 179, 179, 0.3);
            color: rgb(255, 255, 255);
            border-color: #00b0ff;
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
        }

        /* 4. หน้า Dashboard หลัก (เริ่มต้นจะถูกซ่อนไว้) */
        #main-dashboard {
            display: none; /* ซ่อนไว้ก่อน จะเปิดด้วย JS ตอนล็อคอินผ่าน */
            flex-direction: column; align-items: center;
            padding: 20px 15px; padding-top: 60px; min-height: 100vh; box-sizing: border-box;
        }

        .container { width: 100%; max-width: 500px; text-align: center; position: relative; }

        .btn-logout {
            position: absolute; top: -50px; right: 0px;
            background: rgba(255, 61, 0, 0.1); border: 1px solid rgba(255, 61, 0, 0.3);
            color: #ff3d00; border-radius: 50%; width: 45px; height: 45px;
            display: flex; justify-content: center; align-items: center; cursor: pointer;
            box-shadow: 0 0 10px rgba(255, 61, 0, 0.1); z-index: 10;
        }
        .btn-logout:hover { background: rgba(255, 61, 0, 0.3); color: white; border-color: #ff3d00; }

        h1 { font-size: 2.2rem; margin: 0 0 5px 0; font-weight: bold; letter-spacing: 2px; text-shadow: 0 0 15px rgba(0, 176, 255, 0.5); animation: 
            upDown 1s ease-in-out infinite; }
        .conn-status { font-size: 0.9rem; color: #cfd8dc; margin-bottom: 20px; }

        /* กล่องใส (Glassmorphism) */
        .glass-card {
            background: var(--glass-bg); backdrop-filter: blur(15px); -webkit-backdrop-filter: blur(15px);
            border: 1px solid var(--glass-border); border-radius: 16px; padding: 20px;
            margin-bottom: 15px; box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease; position: relative;
        }
        .sensor-card { cursor: pointer; }
        .sensor-card:hover { transform: translateY(-5px); border-color: rgba(255, 255, 255, 0.2); }
        .glass-card h3 { margin: 0 0 5px 0; font-size: 1.1rem; color: #b0bec5; }
        .value { font-size: 2.5rem; font-weight: bold; color: #ffffff; margin: 5px 0; }
        .unit { font-size: 1rem; color: #64ffda; }

        /* เกจวัดแบบเข็ม */
        .gauge-container { width: 100%; height: 80px; margin-top: 10px; position: relative; }
        .gauge-svg { width: 100%; height: 100%; overflow: visible; }
        .needle { transform-origin: 50px 45px; transition: transform 0.8s; transform: rotate(-90deg); }

        /* ปุ่ม START */
        .btn-start {
            background: rgba(0, 230, 118, 0.1); border: 1px solid var(--neon-green); color: var(--neon-green);
            padding: 15px 20px; font-size: 1.8rem; font-weight: bold; border-radius: 50px;
            cursor: pointer; width: 100%; letter-spacing: 2px;
        }
        .btn-start:hover{
            box-shadow: 0px 0px 15px 12px #2b974b;
            animation: scaleUp 0.3s ease-in-out;
        }
        .btn-start:active { transform: scale(0.96);}
        
        .btn-start:disabled {
            background: rgba(100, 100, 100, 0.2); 
            border-color: rgba(100, 100, 100, 0.5); 
            color: #888888;
            cursor: not-allowed; 
            box-shadow: none;
        }
        .btn-start:disabled:hover {
            box-shadow: none;
            animation: none;
        }
        

        /* Pop-up Modal */
        #modal-overlay {
            position: fixed; top: 0; left: 0; width: 100%; height: 100%;
            background: rgba(0, 0, 0, 0.8); backdrop-filter: blur(8px);
            z-index: 1000; display: flex; justify-content: center; align-items: center;
            opacity: 0; pointer-events: none; transition: opacity 0.3s ease;
        }
        #modal-overlay.active { opacity: 1; pointer-events: auto; }
        .modal-content { width: 85%; max-width: 350px; text-align: center; }
        .modal-title { font-size: 1.5rem; color: #00b0ff; margin-bottom: 10px; }
        .modal-status-text { font-size: 1.3rem; font-weight: bold; padding: 10px; border-radius: 10px; margin: 15px 0;}
        .btn-close { background: transparent; border: 1px solid #fff; color: #fff; padding: 8px 30px; border-radius: 20px; cursor: pointer; margin-top: 10px; }
        #system-status { font-size: 1.2rem; color: var(--neon-blue); font-weight: bold; margin-top: 5px; }
